.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 4rem 2rem;
  background-color: #f8f8f8ff;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
  @media (max-width: 768px) {
    padding: 2rem 1rem;
    margin: 0;
    max-width: 100%;
  }
}